ModuleConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ModuleConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Copyright" type="xs:string" />
        <xs:element name="Command" type="CommandType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="Type" type="TypeRef" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="ParagraphHost" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="HelpUrl" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Author" type="xs:string" use="required" />
      <xs:attribute name="PowerShellVersion" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ParagraphHost" mixed="true">
    <xs:choice>
      <xs:element name="Para" type="xs:string" />
      <xs:element name="DefinitionList">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="Definition">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ParagraphHost">
                    <xs:attribute name="Term" type="xs:string" use="required" />
                    <xs:attribute name="Uri" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="List">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="Item">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ParagraphHost">
                    <xs:attribute name="Uri" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Quote" type="xs:string" />
      <xs:element name="Table">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Head" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Cell" maxOccurs="unbounded" type="ParagraphHost" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Row" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Cell" maxOccurs="unbounded">
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Foot" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Cell" maxOccurs="unbounded">
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CommandType">
    <xs:sequence>
      <xs:element name="Synopsis" type="xs:string" />
      <xs:element name="Description" minOccurs="0" type="ParagraphHost" />
      <xs:element name="Parameter" minOccurs="0" type="ParameterType" />
      <xs:element name="OutputType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Description" type="ParagraphHost" />
            <xs:element name="TypeDescription">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="HelpUrl" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="TypeName" type="xs:string" use="required" />
          <xs:attribute name="ParameterSetName" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Note">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ParagraphHost">
              <xs:attribute name="Title" type="xs:string" use="required" />
              <xs:attribute name="Type" type="xs:string" use="required" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Example">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Introduction" type="xs:string" />
            <xs:element name="Code">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="Language" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Remarks" type="ParagraphHost" />
          </xs:sequence>
          <xs:attribute name="Title" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Navigation">
        <xs:complexType>
          <xs:attribute name="Link" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Export" type="xs:boolean" />
    <xs:attribute name="Verb" type="xs:string" use="required" />
    <xs:attribute name="Noun" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="ParameterType">
    <xs:sequence>
      <xs:element name="Description" type="ParagraphHost" />
      <xs:element name="Type">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Description" type="ParagraphHost" />
            <xs:element name="DefaultValue" type="xs:string" />
            <xs:element name="PossibleValue" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Value" type="xs:string" />
                  <xs:element name="Description" type="ParagraphHost" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Name" type="xs:string" use="required" />
          <xs:attribute name="HelpUrl" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ParameterSet" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Description" type="ParagraphHost" minOccurs="0" />
            <xs:element name="TypeDescription" minOccurs="0">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ParagraphHost">
                    <xs:attribute name="HelpUrl" type="xs:string" use="required" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Name" type="xs:string" use="required" />
          <xs:attribute name="Globbing" type="xs:boolean" />
          <xs:attribute name="PipelineInputByValue" type="xs:boolean" />
          <xs:attribute name="PipelineInputByPropertyName" type="xs:boolean" />
          <xs:attribute name="Required" type="xs:boolean" />
          <xs:attribute name="Position" type="xs:string" />
          <xs:attribute name="VariableLength" type="xs:boolean" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Globbing" type="xs:boolean" />
    <xs:attribute name="PipelineInputByValue" type="xs:boolean" />
    <xs:attribute name="PipelineInputByPropertyName" type="xs:boolean" />
    <xs:attribute name="Required" type="xs:boolean" />
    <xs:attribute name="Position" type="xs:string" />
    <xs:attribute name="VariableLength" type="xs:boolean" />
  </xs:complexType>
</xs:schema>
