ModuleConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ModuleConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Copyright" type="xs:string" />
        <xs:element name="Command" type="CommandDefinition" minOccurs="0" maxOccurs="unbounded">
          <xs:key id="ParameterKey" name="ParameterKey">
            <xs:selector xpath="Parameter" />
            <xs:field xpath="@Name" />
          </xs:key>
          <xs:key id="ParameterSetKey" name="ParameterSetKey">
            <xs:selector xpath="ParameterSet" />
            <xs:field xpath="@Name" />
          </xs:key>
          <xs:unique id="ParameterConstraint" name="ParameterConstraint">
            <xs:selector xpath="Parameter" />
            <xs:field xpath="@Name" />
          </xs:unique>
          <xs:unique id="ParameterSetConstraint" name="ParameterSetConstraint">
            <xs:selector xpath="ParameterSet" />
            <xs:field xpath="@Name" />
          </xs:unique>
          <xs:keyref id="FK_OutputType_ParameterSetName" name="FK_OutputType_ParameterSetName" refer="ParameterSetKey">
            <xs:selector xpath="OutputType" />
            <xs:field xpath="@ParameterSetName" />
          </xs:keyref>
        </xs:element>
        <xs:element name="Type" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="ParagraphHost" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="Name" type="NonEmptyString" use="required" />
            <xs:attribute name="HelpUrl" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Author" type="xs:string" />
      <xs:attribute name="PowerShellVersion" type="xs:decimal" />
    </xs:complexType>
    <xs:key id="TypeDefaultsKey" name="TypeDefaultsKey">
      <xs:selector xpath="Type" />
      <xs:field xpath="@Name" />
    </xs:key>
    <xs:unique id="TypeDefaultsConstraint" name="TypeDefaultsConstraint">
      <xs:selector xpath="Type" />
      <xs:field xpath="@Name" />
    </xs:unique>
  </xs:element>
  <xs:complexType name="TableRow">
    <xs:sequence>
      <xs:element name="C" maxOccurs="unbounded" type="ParagraphHost" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParagraphHost">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="P" type="xs:string" />
      <xs:element name="DL">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="D">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ParagraphHost">
                    <xs:attribute name="Term" type="xs:string" use="required" />
                    <xs:attribute name="Uri" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="L" minOccurs="0">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="I">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ParagraphHost">
                    <xs:attribute name="Uri" type="xs:string" use="optional" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Q" type="xs:string" />
      <xs:element name="Table">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="H" minOccurs="0" type="TableRow" />
            <xs:element name="R" maxOccurs="unbounded" type="TableRow" />
            <xs:element name="F" minOccurs="0" type="TableRow" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CommandDefinition">
    <xs:sequence>
      <xs:element name="Synopsis" type="xs:string" />
      <xs:element name="Description" minOccurs="0" type="ParagraphHost" />
      <xs:element name="Parameter" minOccurs="0" type="ParameterDefinition" maxOccurs="unbounded" />
      <xs:element name="ParameterSet" type="ParameterSetDefinition" minOccurs="0" maxOccurs="unbounded">
        <xs:keyref id="FK_ParameterSet_Parameter" name="FK_ParameterSet_Parameter" refer="ParameterKey">
          <xs:selector xpath="Parameter" />
          <xs:field xpath="@Name" />
        </xs:keyref>
        <xs:unique id="ParameterSet_Parameter_Constraint" name="ParameterSet_Parameter_Constraint">
          <xs:selector xpath="Parameter" />
          <xs:field xpath="@Name" />
        </xs:unique>
      </xs:element>
      <xs:element name="OutputType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Description" type="ParagraphHost" />
            <xs:element name="TypeDescription" minOccurs="0">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="HelpUrl" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Name" type="NonEmptyString" use="required" />
          <xs:attribute name="ParameterSetName" type="NonEmptyString" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Note" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ParagraphHost">
              <xs:attribute name="Title" type="xs:string" />
              <xs:attribute name="Type" type="NoteTypeDefinition" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Example" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Introduction" type="xs:string" minOccurs="0" />
            <xs:element name="Code">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="Language" type="LanguageDefinition" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Remarks" type="ParagraphHost" minOccurs="0" />
          </xs:sequence>
          <xs:attribute name="Title" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Navigation" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="Link" type="NonEmptyString" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Export" type="xs:boolean" />
    <xs:attribute name="Verb" type="NonEmptyString" use="required" />
    <xs:attribute name="Noun" type="NonEmptyString" use="required" />
  </xs:complexType>
  <xs:complexType name="ParameterSetDefinition">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Parameter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ParameterDescription" type="ParagraphHost" minOccurs="0" />
            <xs:element name="TypeDescription" minOccurs="0">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ParagraphHost">
                    <xs:attribute name="HelpUrl" type="xs:string" use="required" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Name" type="NonEmptyString" use="required" />
          <xs:attribute name="Globbing" type="xs:boolean" />
          <xs:attribute name="PipelineInputByValue" type="xs:boolean" />
          <xs:attribute name="PipelineInputByPropertyName" type="xs:boolean" />
          <xs:attribute name="Required" type="xs:boolean" />
          <xs:attribute name="Position" type="PositionDefinition" />
          <xs:attribute name="VariableLength" type="xs:boolean" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Name" type="NonEmptyString" use="required" />
  </xs:complexType>
  <xs:complexType name="ParameterDefinition">
    <xs:sequence>
      <xs:element name="Description" type="ParagraphHost" />
      <xs:element name="Type">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Description" type="ParagraphHost" minOccurs="0" />
            <xs:element name="DefaultValue" type="xs:string" minOccurs="0" />
            <xs:element name="PossibleValue" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Value" type="xs:string" />
                  <xs:element name="Description" type="ParagraphHost" minOccurs="0" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Name" type="xs:string" use="required" />
          <xs:attribute name="HelpUrl" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Name" type="NonEmptyString" use="required" />
    <xs:attribute name="Globbing" type="xs:boolean" />
    <xs:attribute name="PipelineInputByValue" type="xs:boolean" />
    <xs:attribute name="PipelineInputByPropertyName" type="xs:boolean" />
    <xs:attribute name="Required" type="xs:boolean" />
    <xs:attribute name="Position" type="PositionDefinition" />
    <xs:attribute name="VariableLength" type="xs:boolean" />
  </xs:complexType>
  <xs:simpleType name="PositionDefinition">
    <xs:union memberTypes="xs:int">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="named" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="LanguageDefinition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSpecified" />
      <xs:enumeration value="cpp" />
      <xs:enumeration value="vb" />
      <xs:enumeration value="vbs" />
      <xs:enumeration value="js" />
      <xs:enumeration value="cSharp" />
      <xs:enumeration value="jSharp" />
      <xs:enumeration value="jScript" />
      <xs:enumeration value="cppSharp" />
      <xs:enumeration value="vbSharp" />
      <xs:enumeration value="xml" />
      <xs:enumeration value="html" />
      <xs:enumeration value="other" />
      <xs:enumeration value="otherSharp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NoteTypeDefinition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSpecified" />
      <xs:enumeration value="Tip" />
      <xs:enumeration value="Note" />
      <xs:enumeration value="Caution" />
      <xs:enumeration value="Important" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Bestpractice" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Security" />
      <xs:enumeration value="Performance" />
      <xs:enumeration value="Configuration" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:pattern value="^\S+$" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
